/* Estilos base */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background: rgb(64,103,255);
    background: linear-gradient(0deg, rgba(64,103,255,1) 22%, rgba(88,160,255,1) 49%, rgba(8,146,255,1) 100%);
    padding: 4px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 22px;
    z-index: 999; /* Asegura que el header esté por encima de otros elementos */
}

/* Estilos para el menú de navegación */
nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 90%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    position: relative;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

/* Estilos para la sección de contacto */
.contacto {
    background-color: #f9f9f9;
    padding: 60px 0;
    text-align: center;
}

.contacto h2 {
    margin-bottom: 20px;
    color: #333;
}

.contacto p {
    margin-bottom: 30px;
    color: #666;
}

.contacto form {
    max-width: 600px;
    margin: 0 auto;
}

.contacto .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contacto label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contacto button[type="submit"] {
    background-color: #f5821f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contacto button[type="submit"]:hover {
    background-color: #d45b00;
}
